html{
    background-image: linear-gradient(to left, white, white);
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 95%;
    background-color: white;
    margin: 15px auto;
    padding:15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
    #nav_menu ul { list-style-type: square; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      /* padding above and below a
                            elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow;  } 

article{
    clear: left;
    width: 75%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
}
article img{
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
aside{
    width: 20%;
    float: right;
    padding: 0.1em 1em 1em;
    background-color: baby rgb(0, 157, 255);
}

